*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.urna {
   width: 100%;
   max-width: 800px;
   margin: 20px auto 0;
   border:  1px solid #f2f2f2;
   border-radius: 15px;
   -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.22);
   -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.22);
   box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.22);
}
.urna .logo {
  height: 60px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 6px 20px;
  border: 1px solid #e7e6e6;
  justify-content: space-between;
  align-items: center;
  display: flex;
  text-align: center;
  width: 100%;
  margin: 6px 0;
}
.urna .logo h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0 19px;
    line-height: 26px;
    font-size: 20px;
    text-align: center;
}
.grid {
	display: grid;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-template-1 {
  display: grid;
	grid-template-columns: 450px 350px;
	grid-template-rows: repeat(1, 1fr);
}
.col-1 {
  padding: 25px;
}
.display {
  margin: 20px 25px 0;
  height: 255px;
  background-color: #b7d1f1;
  -webkit-box-shadow: inset 0px 0px 11px 1px rgba(0,0,0,0.31);
  -moz-box-shadow: inset 0px 0px 11px 1px rgba(0, 0, 0, 0.31);
  box-shadow: inset 0px 0px 11px 1px rgba(0,0,0,0.31);
}
.urna .col-2 {
  padding-right: 25px;
  padding-bottom: 29px;
}
ul.numeric li {
  display: flex;
  position: relative;
}
/* ul.numeric li:last-child {
    justify-self: center;
    width:  calc(400px - 300px);
    grid-column-start: span 2;
 } */
.btns {
  background-color: #000;
  padding: 20px;
  gap: 15px;
  display: grid;
  border-radius: 5px;
  border: 2px solid #242424;
}
.btns button.btn {
  background-color: #3b3b3b;
  color: #e5e5e5;
  border: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  position: relative;
  z-index: 1;
  border-radius: 3px;
  border: 1px solid #484848;
  height: 34px;
  line-height: 34px;
  font-size: 34px;
}
.btns button.btn:hover {
  background-color: #525252 !important;
}
button.btn:active {
  position: relative;
  z-index: 1;
  top: 3px;
  left: 0;
  height: 34px;
}

ul.numeric li .btn3d {
  background-color: #262525;
  border-radius: 3px;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 0;
  top: 3px;
  left: 0;
  height: 34px;
}
.col-2 ul.numeric,
.col-2 ul.actions  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 30px);
  gap: 15px;
  width: 220px;
  margin: 0 auto;
}
.col-2 ul.actions  { 
  width: 100%;
  grid-template-rows: repeat(1, 32px);
}
.col-2 ul.actions button {
  width: 100%;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  height: 40px;
  border: 0;
  position: relative;
  z-index: 1;
}
.col-2 ul.actions li {position: relative;}
.col-2 ul.actions li .btn3d{
  background-color: #262525;
  border-radius: 3px;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 0;
  top: 3px;
  left: 0;
  height: 40px;
}
.col-2 ul.actions li:nth-child(1) button {
  background-color: white;
}
.col-2 ul.actions li:nth-child(2) button {
  background-color: red;
}
.col-2 ul.actions li:nth-child(3) button {
  background-color: green;
}
.col-2 ul.actions li:nth-child(1) .btn3d { 
  background-color: rgb(201, 201, 201);
}
.col-2 ul.actions li:nth-child(2) .btn3d { 
  background-color: rgb(170, 0, 0);
}
.col-2 ul.actions li:nth-child(3) .btn3d { 
  background-color: rgb(2, 85, 2);
}

/* .btns button.btn:hover {
  background-color: #525252 !important;
} */
.col-2 ul.actions li button:active {
  position: relative;
  z-index: 1;
  top: 3px;
  left: 0;
  height: 40px;
}