*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.urna {
   width: 100%;
   max-width: 800px;
   margin: 20px auto 0;
   border:  1px solid #f2f2f2;
   border-radius: 15px;
   -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.22);
   -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.22);
   box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.22);
}
.grid {
	display: grid;
}
.grid-template-1 {
  display: grid;
	grid-template-columns: 450px 350px;
	grid-template-rows: repeat(1, 1fr);
	height: 300px;
}
.urna .col-2 {
  padding-right: 25px;
}
.btns {
  background-color: #000;
  padding: 15px;
}
button.btn {
  background-color: #161616;
  color: #fff;
  border: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.col-2 ul.numeric {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 30px);
  gap: 15px;
}